@import "tailwindcss";

:root {
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button,
textarea {
  border: 1px solid gray;
  border-radius: 10px;
}
button {
  background-color: lightgray;
  padding: 10px;
  font-size: bold;
}

ul {
  list-style: disc;
}

h1 {
  font-size: 22px;
}

/* bg-gray-200 border-2 border-gray-300 p-2 rounded-xl hover:bg-gray-300 hover:cursor-pointer font-bold */
